@import 'base/reset';

@import 'base/variables';
@import 'base/mixins';
@import 'base/base';
@import 'base/typography';

@import 'partials/index';
@import 'partials/post';
@import 'partials/blog-page';
@import 'partials/post-card';
@import 'partials/header';
@import 'partials/footer';
@import 'partials/navigation';
@import 'partials/pagination';
@import 'partials/contact';
@import 'partials/tags';
@import 'partials/social';
@import 'partials/disqus';
@import 'partials/copy';
