<footer class="footer">
	<section class="footer__section">
		<small> Theme &copy; <span id="dateContainer"></span> <a class="footer__link" href="https://github.com/pbzona/peep">Phil Zona</a></small>
	</section>
</footer>

<script src="{{asset "js/prism.js"}}"></script>