<footer class="footer">
	<section class="footer__section footer__left">
		<small>&copy; 2017 Phil Zona</small>
	</section>

	<section class="footer__section footer__right">
		<p>some other text</p>
	</section>
</footer>