<nav class="pagination" role="pagination">
  <div class="pagination__prev">
    {{#if prev}}
    <a class="pagination__link" href="{{page_url prev}}">
      &larr; PREVIOUS PAGE
    </a>
    {{/if}}
  </div>
  <div class="pagination__next">
    {{#if next}}
    <a class="pagination__link" href="{{page_url next}}">
      NEXT PAGE &rarr;
    </a>
    {{/if}}
  </div>
</nav>