<section class="social {{#is " post "}}social--post{{/is}}">
  <a class="social__button rss" href="{{@blog.url}}/rss">
    <span class="social__icon">
      <i class="fas fa-rss-square"></i>
    </span>
  </a>
  <a class="social__button facebook hidden">
    <span class="social__icon">
      <i class="fab fa-facebook"></i>
    </span>
  </a>
  <a class="social__button github hidden">
    <span class="social__icon">
      <i class="fab fa-github"></i>
    </span>
  </a>
  <a class="social__button instagram hidden">
    <span class="social__icon">
      <i class="fab fa-instagram"></i>
    </span>
  </a>
  <a class="social__button linkedin hidden">
    <span class="social__icon">
      <i class="fab fa-linkedin"></i>
    </span>
  </a>
  <a class="social__button twitter hidden">
    <span class="social__icon">
      <i class="fab fa-twitter"></i>
    </span>
  </a>
</section>