.post {
	margin: 0 auto;
	width: 60%;

	&__header {
		margin-top: 5rem;
	}

	&__meta {
		margin-bottom: 2rem;
		font-size: 1.2rem;
	}

	&__main {
		width: 100%;
	}
}

img {
	width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
	margin-bottom: 2rem;
}

ol, ul {
	margin-left: 4rem;
	margin-bottom: 2rem;
}

hr {
	margin-bottom: 2rem;
}

blockquote {
	//margin-left: 4rem;
	padding-left: 2rem;
	border-left: .4rem solid #ccc
}

code {
	color: $primary-color;
	background-color: #eee;
	border: 1px solid #ddd;
	border-radius: 2px;
	padding: 2px;
	-webkit-box-decoration-break: clone;
	box-decoration-break: clone;
}

pre {
	margin: 0 4rem 2rem;

	& > code {
		background-color: #eee;
		border: 1px solid #ddd;
		border-radius: 2px;
		padding: 2px;
	}
}



