.post {
	margin: 0 auto;
	width: 60%;

	&__header {
		margin-top: 5rem;
	}

	&__meta {
		margin-bottom: 2rem;
		font-size: 1.2rem;
	}

	&__main {
		width: 100%;
	}
}

img {
	width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
	margin-bottom: 2rem;
}

ol, ul {
	margin-left: 4rem;
	margin-bottom: 2rem;
}

hr {
	margin-bottom: 2rem;
}



