*,
*::after,
*::before {
  margin: 0;
  padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;

	@include respond(tablet-long) {
    font-size: 56.25%;
  }

	@include respond(phone) {
		font-size: 50%;
	}
}

body {
	box-sizing: border-box;
	position: relative;
	background-color: $color-black;
	min-height: 100vh;
	padding-bottom: 4rem;
}

img {
	width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
	margin-bottom: 2rem;
}

p, pre, code {
	line-height: 2.6rem;
}

ol, ul {
	margin-left: 4rem;
	margin-bottom: 2rem;
}

ul > li {
	list-style-type: disc;
}

hr {
	margin-bottom: 2rem;
}

blockquote {
	padding-left: 2rem;
	border-left: .4rem solid #888
}

pre {
	font-size: 1.6rem;
	margin: 0 4rem 2rem;
}

code {
	color: $color-secondary;
	background-color: $color-black;
	// border: 1px solid #ccc;
	border-radius: 3px;
	padding: 2px;
	margin: 0 .2rem;
	-webkit-box-decoration-break: clone;
	box-decoration-break: clone;
}

pre, code {
	word-break: break-all;
	overflow-wrap: break-word;
	word-wrap: break-word;
	white-space: normal;
}

pre > code[class*="language-"] {
	border: none;
}

a, a:link, a:visited {
	color: $color-primary;
}

mark, *::selection {
	background: $color-primary;
	color: $color-black;
	line-height: 2.6rem;
}