*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
	font-size: 62.5%;
}

body {
	box-sizing: border-box;
	position: relative;
}

img {
	width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
	margin-bottom: 2rem;
}

ol, ul {
	margin-left: 4rem;
	margin-bottom: 2rem;
}

hr {
	margin-bottom: 2rem;
}

blockquote {
	padding-left: 2rem;
	border-left: .4rem solid #ccc
}

pre {
	margin: 0 4rem 2rem;
}

code {
	color: $color-primary;
	background-color: #eee;
	border: 1px solid #ddd;
	border-radius: 2px;
	padding: 2px;
	-webkit-box-decoration-break: clone;
	box-decoration-break: clone;
}

a, a:link, a:visited {
	color: $color-primary;
}

mark, *::selection {
	background-color: lighten($color-primary-light-2, 10%);
}