body {
  color: $color-white;
}

h1 {
	font-family: $sans;
	font-size: 4.6rem;
	font-weight: 700;
	line-height: 5.1rem;
	text-transform: uppercase;
	margin: 0 0 2.3rem 0;
	letter-spacing: 3px;
}

h2 {
	font-family: $sans;
	font-weight: 700;
	font-size: 2.8rem;
	line-height: 3.2rem;
	margin: 0 0 2.3rem 0;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: $color-primary;
}

h3 {
	font-size: 2rem;
	font-family: $sans;
	font-weight: 400;
	text-transform: uppercase;
}

h4, h5, h6 {
	font-size: 1.8rem;
}

p {
	margin: 0 0 2.3rem 0;
}

li {
	margin: 0 0 1rem 0;
}

p, li {
	font-family: $serif;
	font-size: 1.6rem;
	line-height: 2.4rem;
}

small {
	font-size: 1.4rem;
}
