/* PrismJS 1.14.0
http://prismjs.com/download.html#themes=prism-tomorrow&languages=markup+css+clike+javascript+bash+python */
/**
 * prism.js tomorrow night eighties for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/chriskempson/tomorrow-theme
 * @author Rose Pritchard
 */

code[class*="language-"],
pre[class*="language-"] {
	color: #ccc;
	background: none;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;

}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #2d2d2d;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #999;
}

.token.punctuation {
	color: #ccc;
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
	color: #e2777a;
}

.token.function-name {
	color: #6196cc;
}

.token.boolean,
.token.number,
.token.function {
	color: #f08d49;
}

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
	color: #f8c555;
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
	color: #cc99cd;
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
	color: #7ec699;
}

.token.operator,
.token.entity,
.token.url {
	color: #67cdcc;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

.token.inserted {
	color: green;
}


html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

body {
  line-height: 1; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

img {
  max-width: 100%; }

html {
  box-sizing: border-box;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

*,
*:before,
*:after {
  box-sizing: inherit; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

b,
strong {
  font-weight: bold; }

i,
em,
dfn {
  font-style: italic; }

small {
  font-size: 80%; }

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

mark {
  background-color: #fdffb6; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  /* 3 */
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */ }

button {
  overflow: visible;
  border: none; }

button,
select {
  text-transform: none; }

button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  cursor: pointer;
  /* 3 */
  -webkit-appearance: button;
  /* 2 */ }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0; }

input {
  line-height: normal; }

input:focus {
  outline: none; }

input[type='checkbox'],
input[type='radio'] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  height: auto; }

input[type='search'] {
  box-sizing: content-box;
  /* 2 */
  -webkit-appearance: textfield;
  /* 1 */ }

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none; }

legend {
  padding: 0;
  /* 2 */
  border: 0;
  /* 1 */ }

textarea {
  overflow: auto; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

td,
th {
  padding: 0; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  position: relative;
  background-color: #222;
  min-height: 100vh;
  padding-bottom: 4rem; }

img {
  width: 100%; }

p, h1, h2, h3, h4, h5, h6 {
  margin-bottom: 2rem; }

p, pre, code {
  line-height: 2.6rem; }

ol, ul {
  margin-left: 4rem;
  margin-bottom: 2rem; }

ul > li {
  list-style-type: disc; }

hr {
  margin-bottom: 2rem; }

blockquote {
  padding-left: 2rem;
  border-left: .4rem solid #888; }

pre {
  font-size: 1.6rem;
  margin: 0 4rem 2rem; }

code {
  color: #FF4334;
  background-color: #ddd;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 2px;
  margin: 0 .2rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone; }

pre, code {
  word-break: break-all;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: normal; }

pre > code[class^=" language-"] {
  border: none; }

a, a:link, a:visited {
  color: #FFBF33; }

mark, *::selection {
  background: #FFBF33;
  color: #222;
  line-height: 2.6rem; }

body {
  color: #e9e9e9; }

h1 {
  font-family: "Oswald", sans-serif;
  font-size: 4.6rem;
  font-weight: 700;
  line-height: 5.1rem;
  text-transform: uppercase;
  margin: 0 0 2.3rem 0;
  letter-spacing: 3px; }

h2 {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 3.2rem;
  margin: 0 0 2.3rem 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFBF33; }

h3 {
  font-size: 2rem;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #FFBF33; }

h4, h5, h6 {
  font-family: "Oswald", sans-serif;
  font-style: italic;
  text-transform: uppercase;
  color: #FFBF33;
  font-size: 1.8rem; }

p {
  margin: 0 0 2.3rem 0; }

li {
  margin: 0 0 1rem 0; }

p, li {
  font-family: "Droid Serif", serif;
  font-size: 1.6rem;
  line-height: 2.4rem; }

small {
  font-size: 1.4rem; }

.post-list {
  width: 60%;
  margin: 0 auto; }

.post {
  margin: 0 auto;
  width: 60%; }
  .post__header {
    margin: 0 auto 2rem;
    text-align: center;
    color: #FFBF33;
    letter-spacing: 2px;
    width: 80%;
    line-height: 4.2rem; }
    .post__header-text {
      margin-bottom: 0; }
  .post__meta {
    margin-bottom: 1rem;
    font-size: 1.4rem;
    text-align: center;
    color: #c8c8c8;
    font-weight: 400;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase; }
  .post__main {
    width: 100%; }
  .post__image {
    height: 40rem;
    background-size: cover;
    background-position: top;
    margin: 2rem 0; }
  .post__content--no-img {
    margin-top: 4rem; }
  .post__nav {
    display: inline;
    padding: 2rem;
    font-size: 1.8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase; }
    .post__nav--item {
      flex-grow: 1;
      margin: 0 .4rem 1rem; }
    .post__nav--next {
      text-align: left; }
    .post__nav--prev {
      text-align: right; }

.blog-page {
  margin: 0 auto;
  width: 60%; }
  .blog-page__main {
    width: 100%; }
  .blog-page__image {
    height: 40rem;
    background-size: cover;
    background-position: top;
    margin: 2rem 0; }
  .blog-page__content--no-img {
    margin-top: 4rem; }

.post-card {
  padding: 2rem 4rem;
  margin: 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  .post-card__container--left {
    margin: 1rem 4rem 1rem 0;
    max-width: 40%;
    height: 80%; }
  .post-card__image {
    background-position: top;
    background-size: cover;
    outline: 4px solid #FFBF33;
    outline-offset: .3rem;
    height: 20rem; }
  .post-card__content {
    display: inline; }
    .post-card__content a {
      text-decoration: none; }
  .post-card__excerpt {
    word-break: break-word; }
  .post-card__read-more {
    font-size: 1.6rem;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase; }

.header__menu {
  width: 100%; }

.header__title {
  background-color: #FFBF33;
  position: relative;
  text-align: center;
  padding: 3rem; }
  .header__title--small {
    padding: 1rem;
    letter-spacing: 0px;
    font-weight: 700; }
  .header__title-link, .header__title-link:link, .header__title-link:visited {
    text-decoration: none; }
  .header__title-text {
    margin-bottom: .4rem;
    color: #222;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 6rem; }
  .header__title-desc {
    margin-top: 1rem;
    margin-bottom: 0;
    color: #222;
    font-weight: 700;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase; }

.header__text {
  text-decoration: none;
  color: #222; }

.footer {
  display: block;
  text-align: center;
  margin-top: 8rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4rem;
  background-color: #FFBF33;
  color: #222;
  padding: 1rem;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 1.6rem; }
  .footer__link, .footer__link:link, .footer__link:visited {
    color: #222;
    text-decoration: none; }

.nav {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column; }
  .nav__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0; }
  .nav__link {
    list-style-type: none;
    display: inline-flex;
    padding: 1rem;
    width: 100%;
    font-weight: 700;
    letter-spacing: 2px;
    margin: 0;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    transition: .3s all ease; }
    .nav__link:hover {
      background-image: linear-gradient(to bottom, #ffbf33 60%, #ffb30d); }
      .nav__link:hover a {
        color: #222; }
    .nav__link a {
      text-align: center;
      margin: 0 auto;
      text-decoration: none; }
  .nav__active {
    background-image: linear-gradient(to bottom, #ffbf33 65%, #ffb30d); }
    .nav__active a {
      color: #222; }

.pagination {
  width: 60%;
  position: relative;
  margin: 0 auto 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase; }
  .pagination__next {
    margin-right: 2rem; }
  .pagination__prev {
    margin-left: 2rem; }
  .pagination__link {
    font-size: 2rem;
    text-decoration: none; }

.contact-form {
  text-align: center;
  padding: 8rem 8rem 2rem; }
  .contact-form textarea {
    resize: none; }
  .contact-form__field, .contact-form__button {
    border: none;
    display: block;
    margin: 0 auto 1rem;
    width: 100%;
    padding: 1rem;
    font-family: "Oswald", sans-serif;
    color: #222; }
  .contact-form__field {
    font-size: 1.8rem;
    transition: .4s all ease;
    border-bottom: 0.4rem solid #222;
    font-weight: 400; }
    .contact-form__field:focus {
      background-color: #f8d27f;
      border-bottom: 0.4rem solid #f2a600; }
    .contact-form__field::placeholder {
      color: #222; }
    .contact-form__field--email:invalid {
      border-bottom: 0.4rem solid #FF4334; }
    .contact-form__field--body:focus {
      outline: none; }
  .contact-form__button {
    background-color: #FFBF33;
    font-size: 2rem;
    text-transform: uppercase;
    transition: .4s all ease;
    font-weight: 700; }
    .contact-form__button:focus, .contact-form__button:hover {
      background-color: #d19000;
      outline: none; }

.response-handler {
  height: 10rem;
  transition: .4s all ease;
  text-align: center; }

#contact-page-content {
  display: none; }

.tag__list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0; }

.tag__item {
  color: #FFBF33;
  margin: 0 2rem 1rem 0;
  list-style-type: none;
  border: 2px solid #FFBF33;
  padding: .6rem .8rem; }

.tag__link, .tag__link:link, .tag__link:visited {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 3px; }
