.footer {
	display: block;
	text-align: center;
	margin-top: 8rem;
	position: absolute;
	width: 100%;
	background-color: $color-primary;
	color: $color-white;
	padding: 1rem;

	&__link,
	&__link:link,
	&__link:visited {
		color: $color-white;
	}
}