.header {
	&__menu {
		width: 100%;
	}

	&__title {
		background-color: $color-primary;
		//background-image: linear-gradient(to bottom, $color-primary, $color-primary-light-1);
		position: relative;
		text-align: center;
		padding: 3rem;

		&--small {
			padding: 1rem;
			letter-spacing: 0px;
		}

		&-link {
			&,
			&:link,
			&:visited {
				text-decoration: none;
			}

		}
		&-text {
			margin-bottom: 0;
			color: $color-white;
			text-transform: uppercase;
			letter-spacing: 2px;
			font-size: 4.8rem;
		}

		&-desc {
			margin-bottom: 0;
			color: lighten($color-primary-light-2, 20%);
			@include textify;
		}
	}

	&__text {
		text-decoration: none;
		color: $color-black;
	}
}