.nav {
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;

	&__list {
		display: flex;
		justify-content: space-around;
		margin: 0;
	}

	&__link {
		list-style-type: none;
		display: inline-flex;
		padding: 1rem;
		width: auto;

		a {
			text-decoration: none;

			&:hover {
				color: $color-primary-light-2;
			}
		}
	}
}
