.nav {
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;

	&__list {
		display: flex;
		justify-content: space-around;
		align-items: center;
		margin: 0;
	}

	&__link {
		list-style: none;
		display: inline-flex;
		padding: 1rem;
		width: 100%;
		font-weight: 700;
		letter-spacing: 2px;
		margin: 0;

		@include textify;
		transition: .3s all ease;

		&:hover {
			background-image: linear-gradient(
				to bottom,
				rgba($color-primary, 1) 60%,
				rgba(lighten($color-primary-dark-1, 5%), 1)
			);

			a {
				color: $color-black;
			}
		}

		&::before {
			content: none;
		}

		a {
			text-align: center;
			margin: 0 auto;
			text-decoration: none;
		}
	}

	&__active {
		background-image: linear-gradient(
			to bottom,
			rgba($color-primary, 1) 65%,
			rgba(lighten($color-primary-dark-1, 5%), 1)
		);

		a {
			color: $color-black;
		}
	}
}
