.pagination {
	width: 60%;
	position: relative;
  margin: 0 auto 2rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	@include textify;

	&__next {
    margin-right: 2rem;
	}

	&__prev {
		margin-left: 2rem;
	}

	&__link {
		font-size: 2rem;
		text-decoration: none;
	}
}
