.pagination {
  width: 60%;
  margin: 0 auto 2rem;
	display: block;
	@include textify;

	&__next {
		float: right;
		display: inline;
    margin-right: 2rem;
	}

	&__prev {
		float: left;
		display: inline;
    margin-left: 2rem;
	}

	&__link {
		font-size: 2rem;
		text-decoration: none;
	}
}