.pagination {
  width: 60%;
  position: relative;
  margin: 0 auto;
  margin-bottom: $end-of-content-margin + 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  @include textify;

  @include respond(tablet) {
    width: 80%;
  }

  @include respond(phone) {
    width: 90%;
  }

  &__next {
    margin-right: 0rem;

    @include respond(phone) {
      margin-right: 4rem;
    }
  }

  &__prev {
    margin-left: 2rem;

    @include respond(phone) {
      margin-left: 4rem;
    }
  }

  &__link,
  &__link:link,
  &__link:visited {
    font-size: 2rem;
    text-decoration: none;
    background-color: $color-primary;
    color: $color-black;
    padding: 0.8rem 1.2rem;

    @include respond(phone) {
      background-color: $color-black;
      color: $color-primary;
    }
  }
}
