.post-card {
  padding: 2rem 4rem;
  margin: 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @include respond(phone) {
    flex-direction: column;
    &:not(:last-child) {
      border-bottom: 1px solid $color-primary;
    }
	}

  &__container {
    &--left {
      margin: 1rem 4rem 1rem 0;
      max-width: 40%;
      height: 80%;

      @include respond(phone) {
        max-width: 100%;
        margin: 0 auto;
      }
    }
  }

  &__image {
    background-position: top;
    background-size: cover;
    outline: 4px solid $color-primary;
    outline-offset: .3rem;
    height: 20rem;

    @include respond(phone) {
      display: none;
    }
  }

  &__content {
    display: inline;

    & a {
      text-decoration: none;
    }
  }

  &__excerpt {
    word-break: break-word;
  }

  &__title {
    @include respond(phone) {
      font-size: 4.2rem;
      line-height: 4.8rem;
    }
  }

  &__read-more {
    display: none;

    @include respond(phone) {
      display: flex;
      justify-content: right;
      margin-bottom: 2rem;
    }

    &__button,
    &__button:link,
    &__button:visited {
      font-size: 1.6rem;
      flex: 0 1 25%;
      margin: 0 0 0 auto;
      background-color: $color-primary;
      color: $color-black;
      padding: 1rem;
      white-space: nowrap;

      @include textify;
    }
  }
}