.post-card {
  padding: 2rem 4rem;
  margin: 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @include respond(phone) {
		flex-direction: column;
	}

  &__container {
    &--left {
      margin: 1rem 4rem 1rem 0;
      max-width: 40%;
      height: 80%;

      @include respond(phone) {
        max-width: 100%;
        margin: 0 auto;
      }
    }
  }

  &__image {
    background-position: top;
    background-size: cover;
    outline: 4px solid $color-primary;
    outline-offset: .3rem;
    height: 20rem;

    @include respond(phone) {
      margin-bottom: 2rem;
      height: auto;
      width: 100%;
      margin: 0 auto 2rem;;
      outline: 2px solid $color-primary;
      background-position: center;
    }
  }

  &__content {
    display: inline;

    & a {
      text-decoration: none;
    }
  }

  &__excerpt {
    word-break: break-word;
  }
}