.social {
  width: 100%;
  margin: 10rem auto 0;
  display: flex;
  justify-content: space-around;
  font-size: $social-icon-size;
  border-top: 1px solid $color-primary;
  padding: $social-padding 0;
  position: absolute;
  bottom: 4rem;

  &__button {
    background-color: $color-black;
    height: 4rem;
    width: 4rem;
    color: $color-primary;
    flex: 1 1 auto;
    cursor: pointer;
    transition: all .2s;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: $color-primary;
      color: $color-black;
    }
  }
}

.hidden {
  display: none;
}